@{
    ViewBag.Title = "Teste Front-End";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}



<div class="ui container margin bottom large">
  <div class="ui grid">
    <div class="six wide column">
      <form class="ui form" id="teste-front">
        <div class="field">
          <label>Nome</label>
          <input type="text" name="first-name" placeholder="Nome"  required>
        </div>
        <div class="field">
          <label>E-mail</label>
          <input type="email" name="email" placeholder="E-mail"  required>
        </div>
        <div class="field">
          <label>Telefone</label>
          <input type="number" name="telefone" placeholder="Telefone"  required>
        </div>
        <div class="field">
          <label>Assunto</label>
          <input type="text" name="assunto" placeholder="Assunto"  required>
        </div>
        <div class="field">
          <label>Mensagem</label>
          <textarea name="textarea"></textarea>
        </div>
        <button class="ui button" type="submit">Enviar</button>
        <a href="/hotsite/frontend-2"class="ui button link" style="display: none;"> Veja a outra página que pode editar</a>
      </form>
    </div>
    <div class="six wide column">
      <div class="first-name">
        <span>Nome</span>
        <p></p>
      </div>
      <div class="email">
        <span>E-mail</span>
        <p></p>

      </div>
      <div class="telefone">
        <span>Telefone</span>
        <p></p>

      </div>
      <div class="assunto">
        <span>Assunto</span>
        <p></p>

      </div>
      <div class="textarea">
        <span>Mensagem</span>
        <p></p>

      </div>
    </div>
  </div>
</div>
